In [1]:
import pandas as pd
import numpy as np

#Odczytaj plik 2017_jun_final.csv przy użyciu metody read_csv

table = pd.read_csv("2017_jun_final.csv")
print(table)

         N                      Role Programming language Specialisation   \
0        1        Junior QA engineer                  NaN       Manual QA
1        2        Junior QA engineer                  NaN       Manual QA
2        3         Software Engineer              C#/.NET             NaN
3        4         Software Engineer           JavaScript             NaN
4        5  Senior Software Engineer           JavaScript             NaN
...    ...                       ...                  ...             ...
8699  8700               QA engineer                  NaN       Manual QA
8700  8701                 Marketing                  NaN             NaN
8701  8702  Junior Software Engineer           Ruby/Rails             NaN
8702  8703                 Team lead                  NaN             NaN
8703  8704  Senior Software Engineer                 Java             NaN

            Experience  Experience on current job  Salary/month  \
0                   0.5                       0.5           400
1     loss then 3 month         loss then 3 month           430
2                     4                         1          2500
3                     5                         4          2000
4                  10+                        0.5          4500
...                 ...                       ...           ...
8699                  1         loss then 3 month           700
8700                0.5                       0.5           400
8701                  1                       0.5           800
8702                  6                         4          2600
8703                  7                         2          5000

      Изменение.зарплаты.за.12.месяцев       City              Company size  \
0                                    0  New York         up to 10 employees
1                                  130  New York   more then 1000 employees
2                                  800     Berlin      up to 1000 employees
3                                  400      Odesa       up to 200 employees
4                                  500      Other        up to 10 employees
...                                ...        ...                       ...
8699                               700      Odesa        up to 50 employees
8700                               120     Berlin        up to 50 employees
8701                               500       Rome        up to 10 employees
8702                                 0      Paris  more then 1000 employees
8703                               800      Odesa      up to 1000 employees

      ... Still student English                           Subject.area  \
0     ...          True       A1                         iOS,eCommerce
1     ...          True       B2                       Web development
2     ...         False       B1   Web development,Corporative systems
3     ...         False       A1  Desktop Applications,Web development
4     ...         False       B1  Desktop Applications,Web development
...   ...           ...      ...                                   ...
8699  ...         False       B1          Android,Desktop Applications
8700  ...         False       A1                             eCommerce
8701  ...         False       B2   Web development,Corporative systems
8702  ...         False       С1                               Finance
8703  ...         False       B2                       Web development

                     Date                                         User.Agent  \
0     12/06/2017 12:38:08  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
1     12/06/2017 12:42:51  Mozilla/5.0 (iPad; CPU OS 10_2_1 like Mac OS X...
2     12/06/2017 13:02:47  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
3     12/06/2017 13:03:01  Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...
4     12/06/2017 13:03:47  Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_2 like...
...                   ...                                                ...
8699  12/07/2017 15:45:24  Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:54....
8700  12/07/2017 17:00:06  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
8701  12/07/2017 17:32:26  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...
8702  12/07/2017 18:14:59  Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.3...
8703  12/07/2017 21:28:57  Mozilla/5.0 (iPad; CPU OS 10_3_2 like Mac OS X...

       exp current_job_exp salary Валюта  cls
0      0.5             0.5    400    NaN   QA
1      0.0             0.0    430    NaN   QA
2      4.0             1.0   2500    NaN  DEV
3      5.0             4.0   2000    NaN  DEV
4     10.0             0.5   4500    NaN  DEV
...    ...             ...    ...    ...  ...
8699   1.0             0.0    700    NaN   QA
8700   0.5             0.5    400    NaN  NaN
8701   1.0             0.5    800    NaN  DEV
8702   6.0             4.0   2600    NaN   PM
8703   7.0             2.0   5000    NaN  DEV

[8704 rows x 25 columns]

In [2]:
import pandas as pd
import numpy as np

#Odczytaj plik 2017_jun_final.csv przy użyciu metody read_csv

table = pd.read_csv("2017_jun_final.csv")
print(table)

#Odczytaj tabelę wynikową przy użyciu metody head
print(table.head()) #pozwala na wyświetlenie tylko 5 pierwszych wierszy

         N                      Role Programming language Specialisation   \
0        1        Junior QA engineer                  NaN       Manual QA
1        2        Junior QA engineer                  NaN       Manual QA
2        3         Software Engineer              C#/.NET             NaN
3        4         Software Engineer           JavaScript             NaN
4        5  Senior Software Engineer           JavaScript             NaN
...    ...                       ...                  ...             ...
8699  8700               QA engineer                  NaN       Manual QA
8700  8701                 Marketing                  NaN             NaN
8701  8702  Junior Software Engineer           Ruby/Rails             NaN
8702  8703                 Team lead                  NaN             NaN
8703  8704  Senior Software Engineer                 Java             NaN

            Experience  Experience on current job  Salary/month  \
0                   0.5                       0.5           400
1     loss then 3 month         loss then 3 month           430
2                     4                         1          2500
3                     5                         4          2000
4                  10+                        0.5          4500
...                 ...                       ...           ...
8699                  1         loss then 3 month           700
8700                0.5                       0.5           400
8701                  1                       0.5           800
8702                  6                         4          2600
8703                  7                         2          5000

      Изменение.зарплаты.за.12.месяцев       City              Company size  \
0                                    0  New York         up to 10 employees
1                                  130  New York   more then 1000 employees
2                                  800     Berlin      up to 1000 employees
3                                  400      Odesa       up to 200 employees
4                                  500      Other        up to 10 employees
...                                ...        ...                       ...
8699                               700      Odesa        up to 50 employees
8700                               120     Berlin        up to 50 employees
8701                               500       Rome        up to 10 employees
8702                                 0      Paris  more then 1000 employees
8703                               800      Odesa      up to 1000 employees

      ... Still student English                           Subject.area  \
0     ...          True       A1                         iOS,eCommerce
1     ...          True       B2                       Web development
2     ...         False       B1   Web development,Corporative systems
3     ...         False       A1  Desktop Applications,Web development
4     ...         False       B1  Desktop Applications,Web development
...   ...           ...      ...                                   ...
8699  ...         False       B1          Android,Desktop Applications
8700  ...         False       A1                             eCommerce
8701  ...         False       B2   Web development,Corporative systems
8702  ...         False       С1                               Finance
8703  ...         False       B2                       Web development

                     Date                                         User.Agent  \
0     12/06/2017 12:38:08  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
1     12/06/2017 12:42:51  Mozilla/5.0 (iPad; CPU OS 10_2_1 like Mac OS X...
2     12/06/2017 13:02:47  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
3     12/06/2017 13:03:01  Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...
4     12/06/2017 13:03:47  Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_2 like...
...                   ...                                                ...
8699  12/07/2017 15:45:24  Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:54....
8700  12/07/2017 17:00:06  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
8701  12/07/2017 17:32:26  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...
8702  12/07/2017 18:14:59  Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.3...
8703  12/07/2017 21:28:57  Mozilla/5.0 (iPad; CPU OS 10_3_2 like Mac OS X...

       exp current_job_exp salary Валюта  cls
0      0.5             0.5    400    NaN   QA
1      0.0             0.0    430    NaN   QA
2      4.0             1.0   2500    NaN  DEV
3      5.0             4.0   2000    NaN  DEV
4     10.0             0.5   4500    NaN  DEV
...    ...             ...    ...    ...  ...
8699   1.0             0.0    700    NaN   QA
8700   0.5             0.5    400    NaN  NaN
8701   1.0             0.5    800    NaN  DEV
8702   6.0             4.0   2600    NaN   PM
8703   7.0             2.0   5000    NaN  DEV

[8704 rows x 25 columns]
   N                      Role Programming language Specialisation   \
0  1        Junior QA engineer                  NaN       Manual QA
1  2        Junior QA engineer                  NaN       Manual QA
2  3         Software Engineer              C#/.NET             NaN
3  4         Software Engineer           JavaScript             NaN
4  5  Senior Software Engineer           JavaScript             NaN

         Experience  Experience on current job  Salary/month  \
0                0.5                       0.5           400
1  loss then 3 month         loss then 3 month           430
2                  4                         1          2500
3                  5                         4          2000
4               10+                        0.5          4500

   Изменение.зарплаты.за.12.месяцев       City              Company size  ...  \
0                                 0  New York         up to 10 employees  ...
1                               130  New York   more then 1000 employees  ...
2                               800     Berlin      up to 1000 employees  ...
3                               400      Odesa       up to 200 employees  ...
4                               500      Other        up to 10 employees  ...

  Still student English                           Subject.area  \
0          True       A1                         iOS,eCommerce
1          True       B2                       Web development
2         False       B1   Web development,Corporative systems
3         False       A1  Desktop Applications,Web development
4         False       B1  Desktop Applications,Web development

                  Date                                         User.Agent  \
0  12/06/2017 12:38:08  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
1  12/06/2017 12:42:51  Mozilla/5.0 (iPad; CPU OS 10_2_1 like Mac OS X...
2  12/06/2017 13:02:47  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
3  12/06/2017 13:03:01  Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...
4  12/06/2017 13:03:47  Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_2 like...

    exp current_job_exp salary Валюта  cls
0   0.5             0.5    400    NaN   QA
1   0.0             0.0    430    NaN   QA
2   4.0             1.0   2500    NaN  DEV
3   5.0             4.0   2000    NaN  DEV
4  10.0             0.5   4500    NaN  DEV

[5 rows x 25 columns]

In [3]:
import pandas as pd
import numpy as np

#Odczytaj plik 2017_jun_final.csv przy użyciu metody read_csv

table = pd.read_csv("2017_jun_final.csv")
print(table)

#Odczytaj tabelę wynikową przy użyciu metody head
print(table.head()) #pozwala na wyświetlenie tylko 5 pierwszych wierszy


#Zdefiniuj rozmiar tabeli przy użyciu metody shape

table_size = table.shape
print(table_size)

         N                      Role Programming language Specialisation   \
0        1        Junior QA engineer                  NaN       Manual QA
1        2        Junior QA engineer                  NaN       Manual QA
2        3         Software Engineer              C#/.NET             NaN
3        4         Software Engineer           JavaScript             NaN
4        5  Senior Software Engineer           JavaScript             NaN
...    ...                       ...                  ...             ...
8699  8700               QA engineer                  NaN       Manual QA
8700  8701                 Marketing                  NaN             NaN
8701  8702  Junior Software Engineer           Ruby/Rails             NaN
8702  8703                 Team lead                  NaN             NaN
8703  8704  Senior Software Engineer                 Java             NaN

            Experience  Experience on current job  Salary/month  \
0                   0.5                       0.5           400
1     loss then 3 month         loss then 3 month           430
2                     4                         1          2500
3                     5                         4          2000
4                  10+                        0.5          4500
...                 ...                       ...           ...
8699                  1         loss then 3 month           700
8700                0.5                       0.5           400
8701                  1                       0.5           800
8702                  6                         4          2600
8703                  7                         2          5000

      Изменение.зарплаты.за.12.месяцев       City              Company size  \
0                                    0  New York         up to 10 employees
1                                  130  New York   more then 1000 employees
2                                  800     Berlin      up to 1000 employees
3                                  400      Odesa       up to 200 employees
4                                  500      Other        up to 10 employees
...                                ...        ...                       ...
8699                               700      Odesa        up to 50 employees
8700                               120     Berlin        up to 50 employees
8701                               500       Rome        up to 10 employees
8702                                 0      Paris  more then 1000 employees
8703                               800      Odesa      up to 1000 employees

      ... Still student English                           Subject.area  \
0     ...          True       A1                         iOS,eCommerce
1     ...          True       B2                       Web development
2     ...         False       B1   Web development,Corporative systems
3     ...         False       A1  Desktop Applications,Web development
4     ...         False       B1  Desktop Applications,Web development
...   ...           ...      ...                                   ...
8699  ...         False       B1          Android,Desktop Applications
8700  ...         False       A1                             eCommerce
8701  ...         False       B2   Web development,Corporative systems
8702  ...         False       С1                               Finance
8703  ...         False       B2                       Web development

                     Date                                         User.Agent  \
0     12/06/2017 12:38:08  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
1     12/06/2017 12:42:51  Mozilla/5.0 (iPad; CPU OS 10_2_1 like Mac OS X...
2     12/06/2017 13:02:47  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
3     12/06/2017 13:03:01  Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...
4     12/06/2017 13:03:47  Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_2 like...
...                   ...                                                ...
8699  12/07/2017 15:45:24  Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:54....
8700  12/07/2017 17:00:06  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
8701  12/07/2017 17:32:26  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...
8702  12/07/2017 18:14:59  Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.3...
8703  12/07/2017 21:28:57  Mozilla/5.0 (iPad; CPU OS 10_3_2 like Mac OS X...

       exp current_job_exp salary Валюта  cls
0      0.5             0.5    400    NaN   QA
1      0.0             0.0    430    NaN   QA
2      4.0             1.0   2500    NaN  DEV
3      5.0             4.0   2000    NaN  DEV
4     10.0             0.5   4500    NaN  DEV
...    ...             ...    ...    ...  ...
8699   1.0             0.0    700    NaN   QA
8700   0.5             0.5    400    NaN  NaN
8701   1.0             0.5    800    NaN  DEV
8702   6.0             4.0   2600    NaN   PM
8703   7.0             2.0   5000    NaN  DEV

[8704 rows x 25 columns]
   N                      Role Programming language Specialisation   \
0  1        Junior QA engineer                  NaN       Manual QA
1  2        Junior QA engineer                  NaN       Manual QA
2  3         Software Engineer              C#/.NET             NaN
3  4         Software Engineer           JavaScript             NaN
4  5  Senior Software Engineer           JavaScript             NaN

         Experience  Experience on current job  Salary/month  \
0                0.5                       0.5           400
1  loss then 3 month         loss then 3 month           430
2                  4                         1          2500
3                  5                         4          2000
4               10+                        0.5          4500

   Изменение.зарплаты.за.12.месяцев       City              Company size  ...  \
0                                 0  New York         up to 10 employees  ...
1                               130  New York   more then 1000 employees  ...
2                               800     Berlin      up to 1000 employees  ...
3                               400      Odesa       up to 200 employees  ...
4                               500      Other        up to 10 employees  ...

  Still student English                           Subject.area  \
0          True       A1                         iOS,eCommerce
1          True       B2                       Web development
2         False       B1   Web development,Corporative systems
3         False       A1  Desktop Applications,Web development
4         False       B1  Desktop Applications,Web development

                  Date                                         User.Agent  \
0  12/06/2017 12:38:08  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
1  12/06/2017 12:42:51  Mozilla/5.0 (iPad; CPU OS 10_2_1 like Mac OS X...
2  12/06/2017 13:02:47  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
3  12/06/2017 13:03:01  Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...
4  12/06/2017 13:03:47  Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_2 like...

    exp current_job_exp salary Валюта  cls
0   0.5             0.5    400    NaN   QA
1   0.0             0.0    430    NaN   QA
2   4.0             1.0   2500    NaN  DEV
3   5.0             4.0   2000    NaN  DEV
4  10.0             0.5   4500    NaN  DEV

[5 rows x 25 columns]
(8704, 25)

In [4]:
#Zdefiniuj typy wszystkich kolumn za pomocą metody dataframe.dtypes
for column in table.columns:
    type_of_column = table[column].dtypes
    print(type_of_column)

int64
object
object
object
object
object
int64
int64
object
object
object
object
int64
object
object
bool
object
object
object
object
float64
float64
int64
object
object

In [5]:
# Oblicz proporcję spacji w każdej kolumnie (użyj metod isnull i sum).
    
space_ratio = table.isnull().sum() / len(table)
print("Proporcje pustych miejsc w tabeli w kolumnie")
print(space_ratio)

Proporcje pustych miejsc w tabeli w kolumnie
N                                   0.000000
Role                                0.000000
Programming language                0.442325
Specialisation                      0.829389
Experience                          0.000000
Experience on current job           0.000000
Salary/month                        0.000000
Изменение.зарплаты.за.12.месяцев    0.000000
City                                0.000000
Company size                        0.000000
Company type                        0.000000
Gender                              0.000000
Age                                 0.000000
Education                           0.000000
University                          0.177619
Still student                       0.000000
English                             0.000000
Subject.area                        0.025620
Date                                0.000000
User.Agent                          0.000000
exp                                 0.000000
current_job_exp                     0.000000
salary                              0.000000
Валюта                              0.998851
cls                                 0.180836
dtype: float64

In [6]:
#Usuń wszystkie kolumny ze spacjami z wyjątkiem kolumny "Język programowania"

for column in table.columns:
     if "" in column and column != "Programming language":
         del table[column]
     print(table)

                          Role Programming language Specialisation   \
0           Junior QA engineer                  NaN       Manual QA
1           Junior QA engineer                  NaN       Manual QA
2            Software Engineer              C#/.NET             NaN
3            Software Engineer           JavaScript             NaN
4     Senior Software Engineer           JavaScript             NaN
...                        ...                  ...             ...
8699               QA engineer                  NaN       Manual QA
8700                 Marketing                  NaN             NaN
8701  Junior Software Engineer           Ruby/Rails             NaN
8702                 Team lead                  NaN             NaN
8703  Senior Software Engineer                 Java             NaN

            Experience  Experience on current job  Salary/month  \
0                   0.5                       0.5           400
1     loss then 3 month         loss then 3 month           430
2                     4                         1          2500
3                     5                         4          2000
4                  10+                        0.5          4500
...                 ...                       ...           ...
8699                  1         loss then 3 month           700
8700                0.5                       0.5           400
8701                  1                       0.5           800
8702                  6                         4          2600
8703                  7                         2          5000

      Изменение.зарплаты.за.12.месяцев       City              Company size  \
0                                    0  New York         up to 10 employees
1                                  130  New York   more then 1000 employees
2                                  800     Berlin      up to 1000 employees
3                                  400      Odesa       up to 200 employees
4                                  500      Other        up to 10 employees
...                                ...        ...                       ...
8699                               700      Odesa        up to 50 employees
8700                               120     Berlin        up to 50 employees
8701                               500       Rome        up to 10 employees
8702                                 0      Paris  more then 1000 employees
8703                               800      Odesa      up to 1000 employees

     Company type  ... Still student  English   \
0     Outsourcing  ...          True        A1
1     Outsourcing  ...          True        B2
2     Outsourcing  ...         False        B1
3         product  ...         False        A1
4         product  ...         False        B1
...           ...  ...           ...       ...
8699  Outsourcing  ...         False        B1
8700      product  ...         False        A1
8701  Outstaffing  ...         False        B2
8702  Outsourcing  ...         False        С1
8703      product  ...         False        B2

                              Subject.area                 Date  \
0                            iOS,eCommerce  12/06/2017 12:38:08
1                          Web development  12/06/2017 12:42:51
2      Web development,Corporative systems  12/06/2017 13:02:47
3     Desktop Applications,Web development  12/06/2017 13:03:01
4     Desktop Applications,Web development  12/06/2017 13:03:47
...                                    ...                  ...
8699          Android,Desktop Applications  12/07/2017 15:45:24
8700                             eCommerce  12/07/2017 17:00:06
8701   Web development,Corporative systems  12/07/2017 17:32:26
8702                               Finance  12/07/2017 18:14:59
8703                       Web development  12/07/2017 21:28:57

                                             User.Agent   exp current_job_exp  \
0     Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   0.5             0.5
1     Mozilla/5.0 (iPad; CPU OS 10_2_1 like Mac OS X...   0.0             0.0
2     Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   4.0             1.0
3     Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...   5.0             4.0
4     Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_2 like...  10.0             0.5
...                                                 ...   ...             ...
8699  Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:54....   1.0             0.0
8700  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   0.5             0.5
8701  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...   1.0             0.5
8702  Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.3...   6.0             4.0
8703  Mozilla/5.0 (iPad; CPU OS 10_3_2 like Mac OS X...   7.0             2.0

     salary Валюта  cls
0       400    NaN   QA
1       430    NaN   QA
2      2500    NaN  DEV
3      2000    NaN  DEV
4      4500    NaN  DEV
...     ...    ...  ...
8699    700    NaN   QA
8700    400    NaN  NaN
8701    800    NaN  DEV
8702   2600    NaN   PM
8703   5000    NaN  DEV

[8704 rows x 24 columns]
     Programming language Specialisation         Experience   \
0                     NaN       Manual QA                0.5
1                     NaN       Manual QA  loss then 3 month
2                 C#/.NET             NaN                  4
3              JavaScript             NaN                  5
4              JavaScript             NaN               10+
...                   ...             ...                ...
8699                  NaN       Manual QA                  1
8700                  NaN             NaN                0.5
8701           Ruby/Rails             NaN                  1
8702                  NaN             NaN                  6
8703                 Java             NaN                  7

     Experience on current job  Salary/month  \
0                          0.5           400
1            loss then 3 month           430
2                            1          2500
3                            4          2000
4                          0.5          4500
...                        ...           ...
8699         loss then 3 month           700
8700                       0.5           400
8701                       0.5           800
8702                         4          2600
8703                         2          5000

      Изменение.зарплаты.за.12.месяцев       City              Company size  \
0                                    0  New York         up to 10 employees
1                                  130  New York   more then 1000 employees
2                                  800     Berlin      up to 1000 employees
3                                  400      Odesa       up to 200 employees
4                                  500      Other        up to 10 employees
...                                ...        ...                       ...
8699                               700      Odesa        up to 50 employees
8700                               120     Berlin        up to 50 employees
8701                               500       Rome        up to 10 employees
8702                                 0      Paris  more then 1000 employees
8703                               800      Odesa      up to 1000 employees

     Company type  Gender  ...  Still student English   \
0     Outsourcing  female  ...           True       A1
1     Outsourcing  female  ...           True       B2
2     Outsourcing    male  ...          False       B1
3         product    male  ...          False       A1
4         product    male  ...          False       B1
...           ...     ...  ...            ...      ...
8699  Outsourcing    male  ...          False       B1
8700      product  female  ...          False       A1
8701  Outstaffing    male  ...          False       B2
8702  Outsourcing    male  ...          False       С1
8703      product    male  ...          False       B2

                              Subject.area                 Date  \
0                            iOS,eCommerce  12/06/2017 12:38:08
1                          Web development  12/06/2017 12:42:51
2      Web development,Corporative systems  12/06/2017 13:02:47
3     Desktop Applications,Web development  12/06/2017 13:03:01
4     Desktop Applications,Web development  12/06/2017 13:03:47
...                                    ...                  ...
8699          Android,Desktop Applications  12/07/2017 15:45:24
8700                             eCommerce  12/07/2017 17:00:06
8701   Web development,Corporative systems  12/07/2017 17:32:26
8702                               Finance  12/07/2017 18:14:59
8703                       Web development  12/07/2017 21:28:57

                                             User.Agent   exp current_job_exp  \
0     Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   0.5             0.5
1     Mozilla/5.0 (iPad; CPU OS 10_2_1 like Mac OS X...   0.0             0.0
2     Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   4.0             1.0
3     Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...   5.0             4.0
4     Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_2 like...  10.0             0.5
...                                                 ...   ...             ...
8699  Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:54....   1.0             0.0
8700  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   0.5             0.5
8701  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...   1.0             0.5
8702  Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.3...   6.0             4.0
8703  Mozilla/5.0 (iPad; CPU OS 10_3_2 like Mac OS X...   7.0             2.0

     salary  Валюта  cls
0       400     NaN   QA
1       430     NaN   QA
2      2500     NaN  DEV
3      2000     NaN  DEV
4      4500     NaN  DEV
...     ...     ...  ...
8699    700     NaN   QA
8700    400     NaN  NaN
8701    800     NaN  DEV
8702   2600     NaN   PM
8703   5000     NaN  DEV

[8704 rows x 23 columns]
     Programming language Specialisation         Experience   \
0                     NaN       Manual QA                0.5
1                     NaN       Manual QA  loss then 3 month
2                 C#/.NET             NaN                  4
3              JavaScript             NaN                  5
4              JavaScript             NaN               10+
...                   ...             ...                ...
8699                  NaN       Manual QA                  1
8700                  NaN             NaN                0.5
8701           Ruby/Rails             NaN                  1
8702                  NaN             NaN                  6
8703                 Java             NaN                  7

     Experience on current job  Salary/month  \
0                          0.5           400
1            loss then 3 month           430
2                            1          2500
3                            4          2000
4                          0.5          4500
...                        ...           ...
8699         loss then 3 month           700
8700                       0.5           400
8701                       0.5           800
8702                         4          2600
8703                         2          5000

      Изменение.зарплаты.за.12.месяцев       City              Company size  \
0                                    0  New York         up to 10 employees
1                                  130  New York   more then 1000 employees
2                                  800     Berlin      up to 1000 employees
3                                  400      Odesa       up to 200 employees
4                                  500      Other        up to 10 employees
...                                ...        ...                       ...
8699                               700      Odesa        up to 50 employees
8700                               120     Berlin        up to 50 employees
8701                               500       Rome        up to 10 employees
8702                                 0      Paris  more then 1000 employees
8703                               800      Odesa      up to 1000 employees

     Company type  Gender  ...  Still student English   \
0     Outsourcing  female  ...           True       A1
1     Outsourcing  female  ...           True       B2
2     Outsourcing    male  ...          False       B1
3         product    male  ...          False       A1
4         product    male  ...          False       B1
...           ...     ...  ...            ...      ...
8699  Outsourcing    male  ...          False       B1
8700      product  female  ...          False       A1
8701  Outstaffing    male  ...          False       B2
8702  Outsourcing    male  ...          False       С1
8703      product    male  ...          False       B2

                              Subject.area                 Date  \
0                            iOS,eCommerce  12/06/2017 12:38:08
1                          Web development  12/06/2017 12:42:51
2      Web development,Corporative systems  12/06/2017 13:02:47
3     Desktop Applications,Web development  12/06/2017 13:03:01
4     Desktop Applications,Web development  12/06/2017 13:03:47
...                                    ...                  ...
8699          Android,Desktop Applications  12/07/2017 15:45:24
8700                             eCommerce  12/07/2017 17:00:06
8701   Web development,Corporative systems  12/07/2017 17:32:26
8702                               Finance  12/07/2017 18:14:59
8703                       Web development  12/07/2017 21:28:57

                                             User.Agent   exp current_job_exp  \
0     Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   0.5             0.5
1     Mozilla/5.0 (iPad; CPU OS 10_2_1 like Mac OS X...   0.0             0.0
2     Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   4.0             1.0
3     Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...   5.0             4.0
4     Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_2 like...  10.0             0.5
...                                                 ...   ...             ...
8699  Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:54....   1.0             0.0
8700  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   0.5             0.5
8701  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...   1.0             0.5
8702  Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.3...   6.0             4.0
8703  Mozilla/5.0 (iPad; CPU OS 10_3_2 like Mac OS X...   7.0             2.0

     salary  Валюта  cls
0       400     NaN   QA
1       430     NaN   QA
2      2500     NaN  DEV
3      2000     NaN  DEV
4      4500     NaN  DEV
...     ...     ...  ...
8699    700     NaN   QA
8700    400     NaN  NaN
8701    800     NaN  DEV
8702   2600     NaN   PM
8703   5000     NaN  DEV

[8704 rows x 23 columns]
     Programming language        Experience  Experience on current job  \
0                     NaN                0.5                       0.5
1                     NaN  loss then 3 month         loss then 3 month
2                 C#/.NET                  4                         1
3              JavaScript                  5                         4
4              JavaScript               10+                        0.5
...                   ...                ...                       ...
8699                  NaN                  1         loss then 3 month
8700                  NaN                0.5                       0.5
8701           Ruby/Rails                  1                       0.5
8702                  NaN                  6                         4
8703                 Java                  7                         2

      Salary/month  Изменение.зарплаты.за.12.месяцев       City  \
0              400                                 0  New York
1              430                               130  New York
2             2500                               800     Berlin
3             2000                               400      Odesa
4             4500                               500      Other
...            ...                               ...        ...
8699           700                               700      Odesa
8700           400                               120     Berlin
8701           800                               500       Rome
8702          2600                                 0      Paris
8703          5000                               800      Odesa

                  Company size Company type  Gender  Age  ... Still student  \
0           up to 10 employees  Outsourcing  female   20  ...          True
1     more then 1000 employees  Outsourcing  female   21  ...          True
2         up to 1000 employees  Outsourcing    male   26  ...         False
3          up to 200 employees      product    male   30  ...         False
4           up to 10 employees      product    male   30  ...         False
...                        ...          ...     ...  ...  ...           ...
8699        up to 50 employees  Outsourcing    male   23  ...         False
8700        up to 50 employees      product  female   22  ...         False
8701        up to 10 employees  Outstaffing    male   30  ...         False
8702  more then 1000 employees  Outsourcing    male   34  ...         False
8703      up to 1000 employees      product    male   28  ...         False

     English                           Subject.area                 Date  \
0          A1                         iOS,eCommerce  12/06/2017 12:38:08
1          B2                       Web development  12/06/2017 12:42:51
2          B1   Web development,Corporative systems  12/06/2017 13:02:47
3          A1  Desktop Applications,Web development  12/06/2017 13:03:01
4          B1  Desktop Applications,Web development  12/06/2017 13:03:47
...       ...                                   ...                  ...
8699       B1          Android,Desktop Applications  12/07/2017 15:45:24
8700       A1                             eCommerce  12/07/2017 17:00:06
8701       B2   Web development,Corporative systems  12/07/2017 17:32:26
8702       С1                               Finance  12/07/2017 18:14:59
8703       B2                       Web development  12/07/2017 21:28:57

                                             User.Agent   exp current_job_exp  \
0     Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   0.5             0.5
1     Mozilla/5.0 (iPad; CPU OS 10_2_1 like Mac OS X...   0.0             0.0
2     Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   4.0             1.0
3     Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...   5.0             4.0
4     Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_2 like...  10.0             0.5
...                                                 ...   ...             ...
8699  Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:54....   1.0             0.0
8700  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   0.5             0.5
8701  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...   1.0             0.5
8702  Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.3...   6.0             4.0
8703  Mozilla/5.0 (iPad; CPU OS 10_3_2 like Mac OS X...   7.0             2.0

      salary  Валюта  cls
0        400     NaN   QA
1        430     NaN   QA
2       2500     NaN  DEV
3       2000     NaN  DEV
4       4500     NaN  DEV
...      ...     ...  ...
8699     700     NaN   QA
8700     400     NaN  NaN
8701     800     NaN  DEV
8702    2600     NaN   PM
8703    5000     NaN  DEV

[8704 rows x 22 columns]
     Programming language Experience on current job  Salary/month  \
0                     NaN                       0.5           400
1                     NaN         loss then 3 month           430
2                 C#/.NET                         1          2500
3              JavaScript                         4          2000
4              JavaScript                       0.5          4500

In [7]:
#Ponownie policz odsetek pustych miejsc w każdej kolumnie i upewnij się, że pozostała tylko kolumna "Język programowania"

for column in table.columns:
     space_ratio_2 = table.isnull().sum() / len(table)
     print(f"Proporcje po redukcji kolumn {space_ratio_2}")

Proporcje po redukcji kolumn Programming language    0.442325
dtype: float64

In [12]:
import pandas as pd
import numpy as np

#Odczytaj plik 2017_jun_final.csv przy użyciu metody read_csv

table = pd.read_csv("2017_jun_final.csv")
print(table)

#Odczytaj tabelę wynikową przy użyciu metody head
print(table.head()) #pozwala na wyświetlenie tylko 5 pierwszych wierszy


#Zdefiniuj rozmiar tabeli przy użyciu metody shape

table_size = table.shape
print(table_size)

#Zdefiniuj typy wszystkich kolumn za pomocą metody dataframe.dtypes
for column in table.columns:
    type_of_column = table[column].dtypes
    print(type_of_column)

# Oblicz proporcję spacji w każdej kolumnie (użyj metod isnull i sum).
    
space_ratio = table.isnull().sum() / len(table)
print("Proporcje pustych miejsc w tabeli w kolumnie")
print(space_ratio)


new_table = table.dropna()
print(new_table)
grouped_table = table.groupby("Role")

         N                      Role Programming language Specialisation   \
0        1        Junior QA engineer                  NaN       Manual QA
1        2        Junior QA engineer                  NaN       Manual QA
2        3         Software Engineer              C#/.NET             NaN
3        4         Software Engineer           JavaScript             NaN
4        5  Senior Software Engineer           JavaScript             NaN
...    ...                       ...                  ...             ...
8699  8700               QA engineer                  NaN       Manual QA
8700  8701                 Marketing                  NaN             NaN
8701  8702  Junior Software Engineer           Ruby/Rails             NaN
8702  8703                 Team lead                  NaN             NaN
8703  8704  Senior Software Engineer                 Java             NaN

            Experience  Experience on current job  Salary/month  \
0                   0.5                       0.5           400
1     loss then 3 month         loss then 3 month           430
2                     4                         1          2500
3                     5                         4          2000
4                  10+                        0.5          4500
...                 ...                       ...           ...
8699                  1         loss then 3 month           700
8700                0.5                       0.5           400
8701                  1                       0.5           800
8702                  6                         4          2600
8703                  7                         2          5000

      Изменение.зарплаты.за.12.месяцев       City              Company size  \
0                                    0  New York         up to 10 employees
1                                  130  New York   more then 1000 employees
2                                  800     Berlin      up to 1000 employees
3                                  400      Odesa       up to 200 employees
4                                  500      Other        up to 10 employees
...                                ...        ...                       ...
8699                               700      Odesa        up to 50 employees
8700                               120     Berlin        up to 50 employees
8701                               500       Rome        up to 10 employees
8702                                 0      Paris  more then 1000 employees
8703                               800      Odesa      up to 1000 employees

      ... Still student English                           Subject.area  \
0     ...          True       A1                         iOS,eCommerce
1     ...          True       B2                       Web development
2     ...         False       B1   Web development,Corporative systems
3     ...         False       A1  Desktop Applications,Web development
4     ...         False       B1  Desktop Applications,Web development
...   ...           ...      ...                                   ...
8699  ...         False       B1          Android,Desktop Applications
8700  ...         False       A1                             eCommerce
8701  ...         False       B2   Web development,Corporative systems
8702  ...         False       С1                               Finance
8703  ...         False       B2                       Web development

                     Date                                         User.Agent  \
0     12/06/2017 12:38:08  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
1     12/06/2017 12:42:51  Mozilla/5.0 (iPad; CPU OS 10_2_1 like Mac OS X...
2     12/06/2017 13:02:47  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
3     12/06/2017 13:03:01  Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...
4     12/06/2017 13:03:47  Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_2 like...
...                   ...                                                ...
8699  12/07/2017 15:45:24  Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:54....
8700  12/07/2017 17:00:06  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
8701  12/07/2017 17:32:26  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...
8702  12/07/2017 18:14:59  Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.3...
8703  12/07/2017 21:28:57  Mozilla/5.0 (iPad; CPU OS 10_3_2 like Mac OS X...

       exp current_job_exp salary Валюта  cls
0      0.5             0.5    400    NaN   QA
1      0.0             0.0    430    NaN   QA
2      4.0             1.0   2500    NaN  DEV
3      5.0             4.0   2000    NaN  DEV
4     10.0             0.5   4500    NaN  DEV
...    ...             ...    ...    ...  ...
8699   1.0             0.0    700    NaN   QA
8700   0.5             0.5    400    NaN  NaN
8701   1.0             0.5    800    NaN  DEV
8702   6.0             4.0   2600    NaN   PM
8703   7.0             2.0   5000    NaN  DEV

[8704 rows x 25 columns]
   N                      Role Programming language Specialisation   \
0  1        Junior QA engineer                  NaN       Manual QA
1  2        Junior QA engineer                  NaN       Manual QA
2  3         Software Engineer              C#/.NET             NaN
3  4         Software Engineer           JavaScript             NaN
4  5  Senior Software Engineer           JavaScript             NaN

         Experience  Experience on current job  Salary/month  \
0                0.5                       0.5           400
1  loss then 3 month         loss then 3 month           430
2                  4                         1          2500
3                  5                         4          2000
4               10+                        0.5          4500

   Изменение.зарплаты.за.12.месяцев       City              Company size  ...  \
0                                 0  New York         up to 10 employees  ...
1                               130  New York   more then 1000 employees  ...
2                               800     Berlin      up to 1000 employees  ...
3                               400      Odesa       up to 200 employees  ...
4                               500      Other        up to 10 employees  ...

  Still student English                           Subject.area  \
0          True       A1                         iOS,eCommerce
1          True       B2                       Web development
2         False       B1   Web development,Corporative systems
3         False       A1  Desktop Applications,Web development
4         False       B1  Desktop Applications,Web development

                  Date                                         User.Agent  \
0  12/06/2017 12:38:08  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
1  12/06/2017 12:42:51  Mozilla/5.0 (iPad; CPU OS 10_2_1 like Mac OS X...
2  12/06/2017 13:02:47  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
3  12/06/2017 13:03:01  Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...
4  12/06/2017 13:03:47  Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_2 like...

    exp current_job_exp salary Валюта  cls
0   0.5             0.5    400    NaN   QA
1   0.0             0.0    430    NaN   QA
2   4.0             1.0   2500    NaN  DEV
3   5.0             4.0   2000    NaN  DEV
4  10.0             0.5   4500    NaN  DEV

[5 rows x 25 columns]
(8704, 25)
int64
object
object
object
object
object
int64
int64
object
object
object
object
int64
object
object
bool
object
object
object
object
float64
float64
int64
object
object
Proporcje pustych miejsc w tabeli w kolumnie
N                                   0.000000
Role                                0.000000
Programming language                0.442325
Specialisation                      0.829389
Experience                          0.000000
Experience on current job           0.000000
Salary/month                        0.000000
Изменение.зарплаты.за.12.месяцев    0.000000
City                                0.000000
Company size                        0.000000
Company type                        0.000000
Gender                              0.000000
Age                                 0.000000
Education                           0.000000
University                          0.177619
Still student                       0.000000
English                             0.000000
Subject.area                        0.025620
Date                                0.000000
User.Agent                          0.000000
exp                                 0.000000
current_job_exp                     0.000000
salary                              0.000000
Валюта                              0.998851
cls                                 0.180836
dtype: float64
Empty DataFrame
Columns: [N, Role, Programming language, Specialisation , Experience , Experience on current job, Salary/month, Изменение.зарплаты.за.12.месяцев, City, Company size, Company type, Gender, Age, Education, University, Still student, English , Subject.area, Date, User.Agent, exp, current_job_exp, salary, Валюта, cls]
Index: []

[0 rows x 25 columns]

In [13]:
# Wyświetl każdą grupę
for name, group in grouped_table:
    print(name)
    print(group)
    print("\n")

Business analyst
         N              Role Programming language Specialisation  Experience   \
136    137  Business analyst                  NaN             NaN           7
226    227  Business analyst                  NaN             NaN           3
254    255  Business analyst                  NaN             NaN           3
297    298  Business analyst                  NaN             NaN           4
338    339  Business analyst                  NaN             NaN           6
...    ...               ...                  ...             ...         ...
8373  8374  Business analyst                  NaN             NaN           9
8484  8485  Business analyst                  NaN             NaN           2
8562  8563  Business analyst                  NaN             NaN         1.5
8587  8588  Business analyst                  NaN             NaN           1
8649  8650  Business analyst                  NaN             NaN           2

     Experience on current job  Salary/month  \
136                       0.25          2500
226          loss then 3 month          1500
254                          2          2500
297                        1.5          2500
338                          1          2375
...                        ...           ...
8373                       1.5          1362
8484                         2          1000
8562                       1.5           750
8587                         1           800
8649         loss then 3 month           700

      Изменение.зарплаты.за.12.месяцев    City              Company size  ...  \
136                                800  Berlin       up to 200 employees  ...
226                                  0   Odesa      up to 1000 employees  ...
254                                700   Other       up to 200 employees  ...
297                                  0  Berlin  more then 1000 employees  ...
338                                  0  Berlin  more then 1000 employees  ...
...                                ...     ...                       ...  ...
8373                                 0  Berlin       up to 200 employees  ...
8484                               200  Remote        up to 10 employees  ...
8562                                50  Berlin       up to 200 employees  ...
8587                                 0  Berlin        up to 10 employees  ...
8649                                 0  Berlin       up to 200 employees  ...

     Still student English                          Subject.area  \
136          False       С1  Web development,Corporative systems
226          False       B2                      Web development
254          False       С1                              Finance
297          False       B2            Corporative systems,Other
338          False       B2                                  NaN
...            ...      ...                                  ...
8373         False       B1                              Finance
8484         False       B2                              Finance
8562         False       A1          Finance,Corporative systems
8587         False       B2                                  NaN
8649         False       B1                            eCommerce

                     Date                                         User.Agent  \
136   12/06/2017 13:17:53  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
226   12/06/2017 13:34:16  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
254   12/06/2017 13:39:12  Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...
297   12/06/2017 13:45:50  Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...
338   12/06/2017 13:52:16  Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...
...                   ...                                                ...
8373  07/07/2017 18:18:34  Mozilla/5.0 (iPad; CPU OS 10_3_2 like Mac OS X...
8484  09/07/2017 13:49:40  Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...
8562  10/07/2017 16:47:47  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
8587   11/07/2017 9:09:25  Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...
8649  11/07/2017 22:24:17  Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...

      exp current_job_exp salary Валюта  cls
136   7.0            0.25   2500    NaN  NaN
226   3.0            0.00   1500    NaN  NaN
254   3.0            2.00   2500    NaN  NaN
297   4.0            1.50   2500    NaN  NaN
338   6.0            1.00   2375    NaN  NaN
...   ...             ...    ...    ...  ...
8373  9.0            1.50   1362    NaN  NaN
8484  2.0            2.00   1000    NaN  NaN
8562  1.5            1.50    750    NaN  NaN
8587  1.0            1.00    800    NaN  NaN
8649  2.0            0.00    700    NaN  NaN

[150 rows x 25 columns]


DBA
         N Role Programming language Specialisation  Experience   \
50      51  DBA                  NaN             NaN           8
351    352  DBA                  NaN             NaN           4
1310  1311  DBA                  NaN             NaN           2
1537  1538  DBA                  NaN             NaN        10+
2295  2296  DBA                  NaN             NaN           3
2310  2311  DBA                  NaN             NaN        10+
2345  2346  DBA                  NaN             NaN           5
2856  2857  DBA                  NaN             NaN           2
2896  2897  DBA                  NaN             NaN        10+
3043  3044  DBA                  NaN             NaN           2
3552  3553  DBA                  NaN             NaN         0.5
3566  3567  DBA                  NaN             NaN           3
3598  3599  DBA                  NaN             NaN         1.5
4300  4301  DBA                  NaN             NaN           8
5012  5013  DBA                  NaN             NaN        10+
5438  5439  DBA                  NaN             NaN           5
5671  5672  DBA                  NaN             NaN        10+
6153  6154  DBA                  NaN             NaN           2
6168  6169  DBA                  NaN             NaN           8
6385  6386  DBA                  NaN             NaN        10+
7333  7334  DBA                  NaN             NaN           6
7539  7540  DBA                  NaN             NaN           7
7799  7800  DBA                  NaN             NaN           7
8090  8091  DBA                  NaN             NaN         0.5
8169  8170  DBA                  NaN             NaN        10+
8529  8530  DBA                  NaN             NaN         1.5

     Experience on current job  Salary/month  \
50                         0.5          3500
351                          1          2000
1310                         2           510
1537                       0.5          6000
2295                         3          1200
2310                         7          1300
2345                       1.5          3000
2856                         2           615
2896                      10+           1300
3043                       0.5           600
3552                       0.5           700
3566         loss then 3 month           900
3598         loss then 3 month           700
4300                         2          2000
5012                         4           920
5438                       1.5          2090
5671                         2          1200
6153                       0.5          1400
6168                         2          2000
6385                         5           500
7333                         6           570
7539                         3          2150
7799                         2          2200
8090         loss then 3 month           380
8169                       1.5          2750
8529                       1.5          2500

      Изменение.зарплаты.за.12.месяцев       City              Company size  \
50                                 150     Berlin        up to 50 employees
351                                  0     Berlin  more then 1000 employees
1310                               125     Berlin  more then 1000 employees
1537                               500      Other        up to 10 employees
2295                               200      Paris        up to 50 employees
2310                               100     Berlin      up to 1000 employees
2345                              1000     Berlin       up to 200 employees
2856                               230     Berlin        up to 50 employees
2896                               280     Berlin        up to 50 employees
3043                               300      Paris        up to 50 employees
3552                                 0     Berlin        up to 10 employees
3566                                 0  New York        up to 200 employees
3598                               250     Napoli        up to 50 employees
4300                                 0      Other  more then 1000 employees
5012                               160     Berlin        up to 10 employees
5438                               200     Berlin  more then 1000 employees
5671                               100      Odesa        up to 50 employees
6153                               600       Rome  more then 1000 employees
6168                               300     Berlin       up to 200 employees
6385                                 0     Berlin        up to 10 employees
7333                                70     Berlin        up to 50 employees
7539                               150  New York        up to 200 employees
7799                                 0     Berlin        up to 10 employees
8090                               150     Berlin       up to 200 employees
8169                                 0     Berlin       up to 200 employees
8529                                 0     Berlin      up to 1000 employees

      ... Still student English                               Subject.area  \
50    ...         False       B2                                     Other
351   ...         False       B2    Telecommunications,Corporative systems
1310  ...         False       A1    Telecommunications,Corporative systems
1537  ...         False       B2                                     Other
2295  ...         False       B1                                   Finance
2310  ...         False       B1                       Corporative systems
2345  ...         False       B1                           Gamedev,Finance
2856  ...         False       B1                           Web development
2896  ...         False       A1                                   Finance
3043  ...         False       A1                                     Other
3552  ...         False       B1                           Web development
3566  ...         False       A1                                       NaN
3598  ...         False       B1                 Web development,eCommerce
4300  ...         False       С1                       Corporative systems
5012  ...         False       A1  Desktop Applications,Corporative systems
5438  ...         False       B1                       Corporative systems
5671  ...         False       B1                                     Other
6153  ...         False       С1                                 eCommerce
6168  ...         False       B2      Desktop Applications,Web development
6385  ...         False       B1      Desktop Applications,Web development
7333  ...         False       B1                           Web development
7539  ...         False       B1                       Corporative systems
7799  ...         False       A1                                     Other
8090  ...         False       B1                                   Finance
8169  ...         False       A1                                     Other
8529  ...         False       B2                                   Finance

                     Date                                         User.Agent  \
50    12/06/2017 13:09:52  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...
351   12/06/2017 13:53:53  Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...
1310  12/06/2017 18:37:07  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
1537  12/06/2017 21:13:44  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
2295  13/06/2017 12:01:15  Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:53....
2310  13/06/2017 12:12:17  Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...
2345  13/06/2017 12:14:36  Mozilla/5.0 (Windows NT 6.3; Win64; x64) Apple...
2856  13/06/2017 13:15:37  Mozilla/5.0 (Windows NT 6.3; Win64; x64) Apple...
2896  13/06/2017 13:24:34  Mozilla/5.0 (Windows NT 6.1; WOW64; Trident/7....
3043  13/06/2017 14:14:24  Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...
3552  13/06/2017 20:25:58  Mozilla/5.0 (Windows NT 6.3; Win64; x64) Apple...
3566  13/06/2017 20:41:22  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
3598  13/06/2017 21:23:41  Mozilla/5.0 (Windows NT 6.1; WOW64; rv:53.0) G...
4300  15/06/2017 10:29:30  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
5012  19/06/2017 12:26:31  Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.3...
5438  20/06/2017 16:44:57  Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:5...
5671  20/06/2017 17:46:12  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
6153  21/06/2017 12:30:54  Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...
6168  21/06/2017 12:57:21  Mozilla/5.0 (Windows NT 10.0; WOW64; rv:54.0) ...
6385  22/06/2017 11:18:40  Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_5...
7333  28/06/2017 23:53:45  Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...
7539  01/07/2017 11:51:04  Mozilla/5.0 (Linux; Android 7.0; SM-G920F Buil...
7799  04/07/2017 15:58:08  Mozilla/5.0 (Windows NT 6.1; rv:54.0) Gecko/20...
8090  06/07/2017 12:48:54  Mozilla/5.0 (Linux; Android 7.1.1; GT-I9295 Bu...
8169  06/07/2017 15:45:22  Mozilla/5.0 (Linux; Android 7.1.2; Nexus 4 Bui...
8529  10/07/2017 10:53:28  Mozilla/5.0 (Windows NT 10.0; WOW64; rv:54.0) ...

       exp current_job_exp salary Валюта  cls
50     8.0             0.5   3500    NaN  NaN
351    4.0             1.0   2000    NaN  NaN
1310   2.0             2.0    510    NaN  NaN
1537  10.0             0.5   6000    NaN  NaN
2295   3.0             3.0   1200    NaN  NaN
2310  10.0             7.0   1300    NaN  NaN
2345   5.0             1.5   3000    NaN  NaN
2856   2.0             2.0    615    NaN  NaN
2896  10.0            10.0   1300    NaN  NaN
3043   2.0             0.5    600    NaN  NaN
3552   0.5             0.5    700    NaN  NaN
3566   3.0             0.0    900    NaN  NaN
3598   1.5             0.0    700    NaN  NaN
4300   8.0             2.0   2000    NaN  NaN
5012  10.0             4.0    920    NaN  NaN
5438   5.0             1.5   2090    NaN  NaN
5671  10.0             2.0   1200    NaN  NaN
6153   2.0             0.5   1400    NaN  NaN
6168   8.0             2.0   2000    NaN  NaN
6385  10.0             5.0    500    NaN  NaN
7333   6.0             6.0    570    NaN  NaN
7539   7.0             3.0   2150    NaN  NaN
7799   7.0             2.0   2200    NaN  NaN
8090   0.5             0.0    380    NaN  NaN
8169  10.0             1.5   2750    NaN  NaN
8529   1.5             1.5   2500    NaN  NaN

[26 rows x 25 columns]


Data Scientist / Data Analyst
         N                           Role Programming language  \
28      29  Data Scientist / Data Analyst                  NaN
99     100  Data Scientist / Data Analyst                  NaN
294    295  Data Scientist / Data Analyst                  NaN
374    375  Data Scientist / Data Analyst                  NaN
416    417  Data Scientist / Data Analyst                  NaN
...    ...                            ...                  ...
8408  8409  Data Scientist / Data Analyst                  NaN
8414  8415  Data Scientist / Data Analyst                  NaN
8487  8488  Data Scientist / Data Analyst                  NaN
8615  8616  Data Scientist / Data Analyst                  NaN
8693  8694  Data Scientist / Data Analyst                  NaN

     Specialisation         Experience  Experience on current job  \
28               NaN               0.25                      0.25
99               NaN               10+                          7
294              NaN                  7                         2
374              NaN  loss then 3 month         loss then 3 month
416              NaN                  3                         2
...              ...                ...                       ...
8408             NaN                  5                         1
8414             NaN                  4                       1.5
8487             NaN                  1                         1
8615             NaN                  2                       1.5
8693             NaN                0.5                       0.5

      Salary/month  Изменение.зарплаты.за.12.месяцев       City  \
28             350                                 0     Berlin
99            3900                                 0  New York
294           2400                                 0      Other
374            300                                 0     Berlin
416            280                               290       Łódź
...            ...                               ...        ...
8408          1600                               200     Berlin
8414           850                               450      Paris
8487           310                               100  New York
8615           400                               100      Odesa
8693           270                                 0  New York

              Company size  ... Still student English   \
28      up to 50 employees  ...         False       B1
99     up to 200 employees  ...         False       B2
294     up to 10 employees  ...         False       B2
374     up to 10 employees  ...         False       B1
416     up to 50 employees  ...         False       B1
...                    ...  ...           ...      ...
8408    up to 10 employees  ...         False       С1
8414  up to 1000 employees  ...         False       B1
8487  up to 1000 employees  ...          True       B1
8615    up to 10 employees  ...         False       B1
8693    up to 50 employees  ...          True       B2

                    Subject.area                 Date  \
28                    Multimedia  12/06/2017 13:08:00
99               Web development  12/06/2017 13:13:17
294   Android,Telecommunications  12/06/2017 13:44:51
374                      Finance  12/06/2017 13:58:44
416              Web development  12/06/2017 14:06:35
...                          ...                  ...
8408                   eCommerce   08/07/2017 1:35:55
8414                     Gamedev   08/07/2017 9:28:16
8487   Corporative systems,Other  09/07/2017 16:33:33
8615   Web development,eCommerce  11/07/2017 14:09:30
8693             eCommerce,Other  12/07/2017 14:14:27

                                             User.Agent    exp  \
28    Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   0.25
99    Mozilla/5.0 (Windows NT 6.3; Win64; x64) Apple...  10.00
294   Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:42....   7.00
374   Mozilla/5.0 (Linux; Android 4.2.1; Lenovo P780...   0.00
416   Mozilla/5.0 (Linux; Android 5.1; K6000 Build/L...   3.00
...                                                 ...    ...
8408  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   5.00
8414  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   4.00
8487  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   1.00
8615  Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...   2.00
8693  Mozilla/5.0 (Windows NT 6.3; Win64; x64) Apple...   0.50

     current_job_exp salary Валюта  cls
28              0.25    350    NaN  NaN
99              7.00   3900    NaN  NaN
294             2.00   2400    NaN  NaN
374             0.00    300    NaN  NaN
416             2.00    280    NaN  NaN
...              ...    ...    ...  ...
8408            1.00   1600    NaN  NaN
8414            1.50    850    NaN  NaN
8487            1.00    310    NaN  NaN

In [14]:
 #Utwórz nowy DataFrame, w którym dla danych pogrupowanych według kolumny "Stanowisko" wykonaj agregację danych za pomocą metody [agg](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.agg.html) i znajdź minimalne i maksymalne wartości w kolumnie "Wynagrodzenie.za.miesiąc"

table = table.drop(column, axis=1)

aggregated_data = grouped_table["Salary/month"].agg(["min", "max"])

In [16]:
#Utwórz funkcję fill_avg_salary, która zwróci średnią miesięczną pensję. Użyj jej w metodzie [apply](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.apply.html) i utwórz nową kolumnę "avg"

def fill_avg_salary(row):
    avg_salary = row["Salary/month"]
    if pd.isnull(avg_salary):
        avg_salary = table["Salary/month"].mean()
    return avg_salary

table["avg"] = table.apply(fill_avg_salary, axis = 1)

print(table)

         N                      Role Programming language Specialisation   \
0        1        Junior QA engineer                  NaN       Manual QA
1        2        Junior QA engineer                  NaN       Manual QA
2        3         Software Engineer              C#/.NET             NaN
3        4         Software Engineer           JavaScript             NaN
4        5  Senior Software Engineer           JavaScript             NaN
...    ...                       ...                  ...             ...
8699  8700               QA engineer                  NaN       Manual QA
8700  8701                 Marketing                  NaN             NaN
8701  8702  Junior Software Engineer           Ruby/Rails             NaN
8702  8703                 Team lead                  NaN             NaN
8703  8704  Senior Software Engineer                 Java             NaN

            Experience  Experience on current job  Salary/month  \
0                   0.5                       0.5           400
1     loss then 3 month         loss then 3 month           430
2                     4                         1          2500
3                     5                         4          2000
4                  10+                        0.5          4500
...                 ...                       ...           ...
8699                  1         loss then 3 month           700
8700                0.5                       0.5           400
8701                  1                       0.5           800
8702                  6                         4          2600
8703                  7                         2          5000

      Изменение.зарплаты.за.12.месяцев       City              Company size  \
0                                    0  New York         up to 10 employees
1                                  130  New York   more then 1000 employees
2                                  800     Berlin      up to 1000 employees
3                                  400      Odesa       up to 200 employees
4                                  500      Other        up to 10 employees
...                                ...        ...                       ...
8699                               700      Odesa        up to 50 employees
8700                               120     Berlin        up to 50 employees
8701                               500       Rome        up to 10 employees
8702                                 0      Paris  more then 1000 employees
8703                               800      Odesa      up to 1000 employees

      ... Still student English                           Subject.area  \
0     ...          True       A1                         iOS,eCommerce
1     ...          True       B2                       Web development
2     ...         False       B1   Web development,Corporative systems
3     ...         False       A1  Desktop Applications,Web development
4     ...         False       B1  Desktop Applications,Web development
...   ...           ...      ...                                   ...
8699  ...         False       B1          Android,Desktop Applications
8700  ...         False       A1                             eCommerce
8701  ...         False       B2   Web development,Corporative systems
8702  ...         False       С1                               Finance
8703  ...         False       B2                       Web development

                     Date                                         User.Agent  \
0     12/06/2017 12:38:08  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
1     12/06/2017 12:42:51  Mozilla/5.0 (iPad; CPU OS 10_2_1 like Mac OS X...
2     12/06/2017 13:02:47  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
3     12/06/2017 13:03:01  Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...
4     12/06/2017 13:03:47  Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_2 like...
...                   ...                                                ...
8699  12/07/2017 15:45:24  Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:54....
8700  12/07/2017 17:00:06  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
8701  12/07/2017 17:32:26  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...
8702  12/07/2017 18:14:59  Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.3...
8703  12/07/2017 21:28:57  Mozilla/5.0 (iPad; CPU OS 10_3_2 like Mac OS X...

       exp current_job_exp salary Валюта   avg
0      0.5             0.5    400    NaN   400
1      0.0             0.0    430    NaN   430
2      4.0             1.0   2500    NaN  2500
3      5.0             4.0   2000    NaN  2000
4     10.0             0.5   4500    NaN  4500
...    ...             ...    ...    ...   ...
8699   1.0             0.0    700    NaN   700
8700   0.5             0.5    400    NaN   400
8701   1.0             0.5    800    NaN   800
8702   6.0             4.0   2600    NaN  2600
8703   7.0             2.0   5000    NaN  5000

[8704 rows x 25 columns]

In [17]:
#Utwórz statystyki opisowe za pomocą metody describe dla nowej kolumny

avg_stats = table["avg"].describe()
print(avg_stats)

count     8704.000000
mean      1666.704159
std       1338.280986
min         75.000000
25%        600.000000
50%       1300.000000
75%       2400.000000
max      34000.000000
Name: avg, dtype: float64

In [18]:
#Zapisz wynikową tabelę w pliku CSV

new_table.to_csv('wyniki.csv', index=False)